<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.weiquan.assistivemaps">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.providers.gsf.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="com.example.weiquan.assistivemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.google.android.providers.gsf.permissions.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/reach_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Dest_details"
            android:label="@string/title_activity_dest_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecordPath"
            android:label="@string/title_activity_record_path"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindPaths"
            android:label="@string/title_activity_find_paths"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchPaths"
            android:label="@string/title_activity_search_paths"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyPaths"
            android:label="@string/title_activity_my_paths"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyPathMapsActivity"
            android:label="@string/title_activity_my_path_maps"></activity>
    </application>

</manifest>